<!DOCTYPE html>

<html x-ng-app="">
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<script type="text/javascript" src="main.js">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js">
		</script>
	</head>
	<body>

		<div id="gameBoard"x-ng-controller="gameBoardCtrl">

			<div class="cell" x-ng-repeat="cell in gameBoard track by $index" x-ng-click="attackCell($index)" x-ng-class="{clear: ($index % 3 == 0)}">
				{{cell}}
			</div>
		</div>
	</body>
</html>